.hero {
  position: relative;
  height: 100vh;
  width: 93%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  background:no-repeat center center/cover;
  margin-bottom: 30px;
  
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  
}
.hero::before {
  content: "";
  position: absolute;
  top: 5px;
  bottom: 0;
  left: 100px;  
  right: 50px;
  background: repeating-linear-gradient(
    to right,
    rgba(255, 255, 255, 0.05) 0px,
    rgba(255, 255, 255, 0.05) 2px,
    transparent 1px,
    transparent 200px
  );
  z-index: 2; 
  pointer-events: none;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 900px;
}

.badge {
  font-family: 'Inter', sans-serif;
  display: inline-block;
  background: rgba(27, 61, 53, 0.8);
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 24px;
  font-style: italic;
  max-width: 563px;
  line-height: 24px;
  border-radius: 9999px;
  margin-bottom: 1.5rem;
  border: 1px solid #348E77;
  margin-top:3rem;
}
.hero p {
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 2rem;
  font-family: 'Jost', sans-serif;
  text-shadow: 0px 14px 74px rgba(0, 0, 0, 0.85);
  max-width: 805px;   
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 30px;
}

.btn {
  padding: 0.8rem 1.5rem;
  border-radius: 25px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}



.btn-filled {
  background: #2E7A77;
  color: #FFFFFF;
  border: none;
  font-weight: 500;
  font-size: 17.58px;
  box-shadow: 0px 4px 54px 0px rgba(0, 0, 0, 0.25);

}

.btn-filled:hover {
  background: #27f0d5;
  color: #000;
}

.scroll-down {
  position: relative;
  text-align: center;
  color: #27f0d5;
  z-index: 2;
  
}

@media (max-width: 768px) {
  .hero {
    height: auto; 
    padding: 4rem 1rem 6rem; 
  }

  .hero-content {
    max-width: 100%;
    padding: 0 1rem;
  }

  .badge {
    font-size: 0.85rem;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    line-height: 1.2rem;
  }

  .hero h1 {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }

  .hero p {
    font-size: 0.95rem;
    line-height: 1.4rem;
    margin-bottom: 1.5rem;
    padding: 0 0.5rem;
  }

  .buttons {
    flex-direction: column;
    gap: 0.8rem;
  }

  .btn {
    font-size: 0.95rem;
    padding: 0.7rem 1rem;
  }

  .btn-filled {
    font-size: 1rem;
  }
  .scroll-down{
    margin-top: -100px;
  }
}

/* Smaller phones */
@media (max-width: 480px) {
  .hero {
    padding: 3rem 0.8rem 5rem;
  }

  .badge {
    font-size: 0.5rem;
    padding: 0.4rem 0.8rem;
    margin-top: 0.3rem;
  }

  .hero h1 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .hero p {
    font-size: 0.85rem;
    line-height: 1.3rem;
  }

  .btn {
    font-size: 0.9rem;
    padding: 0.6rem 1rem;
  }

  .scroll-down svg {
    width: 36px;
    height: 36px;
  }
  
}

