.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #040B0B; 
  border-bottom: 1px solid #212423;
  width: 93%;
  margin: auto;
  position: relative;
  z-index: 20;
}

.logo img {
  width: 243px;
  height: 75px;
  display: block;
  margin-top: 13px;
}

/* ===== Desktop Nav ===== */
.nav-links {
  display: flex;
  gap: 34px;
}

.nav-link {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  padding: 10px;
  gap: 10px;
}

.nav-link.active {
  color: #B14A1C; 
  transition: all 300ms ease-in;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 120%;          
  height: 1px;
  background-color: #B14A1C;
  transform: translateX(-9%); 
}

.talk-btn {
  background: #B14A1C;
  font-family: 'Inter', sans-serif;
  color: #FFFFFF;
  border: none;
  padding: 0.8125rem 1.5625rem;
  border-radius: 2rem;
  font-size: 1.09875rem;
  font-weight: 500;
  cursor: pointer;
  line-height: 24px;
  transition: transform 0.2s ease-in-out; /* smooth scaling */
}

.talk-btn:hover {
  transform: scale(1.1); /* hover effect */
}

.talk-btn:active {
  transform: scale(0.95); /* tap/click effect */
}


/* ===== Hamburger Icon ===== */
.hamburger-icon {
  color: #ffffff;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
  display: none; /* hidden on desktop */
  z-index: 30;
}

.hamburger-icon:hover {
  color: #B14A1C;
  transform: scale(1.2);
}

/* ===== Dropdown Menu (Mobile) ===== */
.dropdown-menu {
  position: absolute;
  right: 2rem;
  top: 60px;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  z-index: 25;
  display: none;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
}

.dropdown-menu.open {
  display: flex;
}

.dropdown-menu .nav-link {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-menu .talk-btn {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  display: block !important;
}
.dropdown-menu .nav-link.active::after {
  content: none !important;
}
.dropdown-btn-wrapper {
  display: flex;
  justify-content: center;
  padding: 0.7rem;
}

@media (max-width: 992px) {
  .navbar .nav-links,
  .navbar .talk-btn {
    display: none; 
  }
  .navbar .hamburger-icon {
    display: block; 
  }
}
