.solution-card {
  max-width: 1130px;
  margin: 50px auto;
  border-radius: 20px;
  color: #FFFFFF;
  overflow: hidden;
  padding: 40px;
  text-align: left;
  border: 1px solid #348E77;
}

.solution-image {
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
}

.solution-image img {
  width: 100%;
  height: 488px;
  object-fit: cover;
  display: block;
}

.solution-title {
  font-size: 1.5625rem;
  font-weight: 700;
  margin: 10px 0;
}

.solution-tags {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tag {
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid #194439;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 0.85rem;
  cursor: default;
  transition: background 0.3s;
}

.tag:hover {
  background: rgba(0, 255, 200, 0.15);
}

.solution-description {
  background: #0F0F0F;
  border: 1px solid #194439;
  border-radius: 16px;
  padding: 16px 20px;
}

.solution-description strong {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.solution-description p {
  font-size: 1.2rem;
  line-height: 150%;
  color: #FFFFFF;
}
